<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/public/images/Piyush logo.jpg" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <h1>Edit Post</h1>
            <div class="post">
                <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
                    <h3 class="id">post id:<%= post.id %></h3>
                    <h3 class="username">@<%= post.username %></h3>
                    <textarea name="content"  cols="30" rows="5"><%= post.content %></textarea>
                    <button type="submit">Submit post</button>
                </form>
            </div>
    </div>
</body>

</html>