<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New posts</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/public/images/Piyush logo.jpg" type="image/x-icon" />
</head>

<body>
    <h1>New Post</h1>
    <div class="container">
            <div class="post">
                <form action="/" method="post">
                    <input type="text" name="username" placeholder="Enter your username" required autocomplete="off">
                    <textarea name="content"  cols="30" rows="5" placeholder="add your content" required></textarea>
                    <button type="submit">Submit post</button>
                </form>
            </div>
    </div>
</body>

</html>